atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
colorama==0.4.1
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
numpy==1.16.0
pandas==0.24.1
pluggy==0.8.1
py==1.7.0
pycodestyle==2.5.0
pyodbc==4.0.25
pytest==4.2.0
python-dateutil==2.7.5
pytz==2018.9
sas7bdat==2.2.2
six==1.12.0
SQLAlchemy==1.2.17
